*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
   background-color: #1e1e1e;
   padding: 25px;
   border-radius: 15px;
   width: 320px;
}
#display{
    width: 100%;
    height: 60px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #000;
    color: #0f0;   
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}
button{
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;   
}

button:hover{
    background-color: #444;
}

.operator{
    background-color: #ff9500;
    color: #fff;
}

.operator:hover{
    background-color: #ffb347;
}

.equal{
    background-color: #34c759;
    color: #fff;
}
.equal:hover{
    background-color: #66d17a;
}
.zero{
    grid-column: span 2;
}